<div class="mt-4 container">
    <div>
      <a href="/me/stored/courses ">Danh sách khóa học</a>
      <h2>Khóa học đã xóa</h2>
    </div>
    
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-id="{{this._id}}">Xóa vĩnh viễn</button>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Thùng rác trống. 
                <a href="/me/stored/courses ">Danh sách khóa học</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


{{!-- Confirm delete course --}}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Xóa khóa học</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này ?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger" data-bs-dismiss="modal" >Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


<form method="POST" name="delete-course-form"></form>
<form method="POST" name="restore-course-form"></form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    const deleteModal = document.getElementById('deleteModal')
    if (deleteModal) {
        var courseId
        var deleteForm = document.forms['delete-course-form']
        var restoreForm = document.forms['restore-course-form']
        var deletebutton = document.getElementById('btn-delete-course')
        var restoreButton = $('.btn-restore')

        deleteModal.addEventListener('show.bs.modal', function(event) {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            courseId = button.getAttribute('data-bs-id')
        })

        // When click delete button !!!
        deletebutton.onclick = function(event) {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE'
            deleteForm.submit()
        }

        restoreButton.click(function (event) {
          event.preventDefault()
          var id = $(this).data('id')
          restoreForm.action = '/courses/' + `${id}` + '/restore?_method=PATCH'
          restoreForm.submit()
        })
    }
</script>